.featured .box {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
  border-radius: 6px;
  text-align: center;
  padding: 30px;
  cursor: pointer;
  /* padding-right: 0%; */
  /* width: 70%; */
  
}
/* content grid5 mt-[50px] gap-[30px] ml-[100px] mr-[100px] md: grid2 ml-[8px] gap-[10px] mr-[15px] */
.featured .feat{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  margin-top: 50px;
  gap: 2%;
  margin-left: 7%;
  margin-right: 10%;

}

.featured img {
  width: 65px;
  height: 65px;
  margin: auto;
}


@media(max-width:768px){
  .featured .feat{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    margin-top: 50px;
    gap: 10px;
    margin-left: 8px;
    margin-right: 11px;
  
  }
}