.recent .text {
  padding: 30px;
}

/* content grid3 mt-[5px] ml-[130px] mr-[130px] md:grid grid-2 ml-[10px]' */

.recent .res{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 10%;
  margin-right: 12%;
  gap: 2%;
}
.recent .category span {
  padding: 4px 15px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
}
.recent .category i {
  font-size: 20px;
  color: #bec7d8;
}
.recent p {
  color: #72809d;
}
.recent .button {
  border-top: 1px solid #e4e8f3;
  padding: 10px 30px;
}

@media(max-width:768px){
  .recent .res{
    display: grid;
    grid-template-columns: 1fr ;
    margin-left: 37px;
    margin-right: 37px;
    gap: 0px;
  }
}