header {
  background-color: #fff;
  height: auto;
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 99999;
  padding-bottom: 10px; 
}
header img {
  width: 120px;
}
header a {
  margin-left: 30px;
  transition: 0.5s;
  font-weight: 500;
  
}
header a:hover {
  color: #27ae60;
}
header span {
  width: auto;
  padding: 0px 6px;
  background: #27ae60;
  border-radius: 50px;
  color: #ffffff;
  margin-right: 4px;
  font-weight: 400;
}
header h4 {
  font-weight: 500;
  margin-right: 20px;
}
header .toggle {
  display: none;
}

.lastsec{
  display: flex;
  justify-content: space-between;
  width: auto;
  /* gap: 2px; */
  margin-left: 150px;
}

.mylist{
  margin-bottom: 20px;
}

.sign-button{
  background-color: #27ae60;
  padding: 11px 40px;
  color: white;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  header {
    padding: 0;
  }
  header img {
    margin-top: 30px;
  }
  header .button {
    display: none;
  }
  header .nav .flex {
    display: none;
  }
  header .toggle {
    display: block;
    margin-top: 20px;
  }
  header .small {
    position: absolute;
    top: 11vh;
    left: 0;
    width: 50%;
    background-color: #27ae60;
    padding: 20px;
    margin-left: 48%;
  }
  header li a {
    display: inline-block;
    margin-bottom: 20px;
    color: #fff;
  }

  .lastsec{
      margin: 0px;
      padding: 0px;
      display: inline-block;
      margin-bottom: 20px;
      color: #fff;
      text-align: start;
      margin-left: 30px;
      margin-top: -20px;
  }

  .sign-button{
      margin-left: -70px;
      margin-top: -20px;
  }
  
}
