.cardFatch{
    margin-top: 50px;
    margin-bottom: 100px;
    /* margin-left: 100px; */
    height: 400px;
    /* width: auto; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:100px ;
    margin-left: 100px;
    margin-right: 100px;
    
    
}


.carttext{
    display: flex;
    justify-content: space-between;
}

.carttext button{
    height: 8px;
    width: 0px;
    /* text-align: center; */
    font-size: 15px;
    padding-left: 11px;
    padding-right: 20px;
    padding-top: 10px;
}

.cartnl{
    margin-top: 20px;
    margin-bottom: 30px;
}

.pbtn{
    margin-top: 20px;
    border-radius: 30px;

}



@media(max-width:768px){
    .cardFatch{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: auto;
        margin: 55px;
    }

}