.login_main{
    height: auto;
    width: 80%;
    margin-left: 160px;
    margin-top: 140px;
    margin-bottom: 150px;
    border: 1px solid lightgrey;
}

.login_main form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.login_main h2{
    text-align: center;
    /* margin-left: 95px; */
}
.login_main button{
    background-color: green;
    width: 100%;
    height: 40px;
    margin-top: 35px;
    margin-bottom: 20px;
    margin-right: 25px;
    
    /* text-align: center; */
}

@media(max-width:768px){
    .login_main{
        margin-left: 28px;
    }

    .login_main h2{
        margin-left: 30px;
    }

    .login_main button{
        /* width: 390px; */
        margin: 0px;
        margin-top: 30px;

    }
    .login_main form{
        
        align-items: start;
        margin: 0px;
        padding: 0px;
        margin-left: 50px;
        
    }
    .login_main button{
        background-color: green;
        width: 193px;
        height: 30px;
        margin-top: 15px;
        margin-bottom: 20px;
        /* margin-right: 25px; */
    }
}